@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


#backimg{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url("../images/tstt.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 200px;
}

/* 
#backimg:hover{
   
    filter: blur(4px);
} */

#backimg button:hover > #backimg{
     filter: grayscale(80%); 
}

#backimg h2{
    font-size: 80px;
    color: #fff;
    font-family: 'Roboto slab';
}

#backimg button{
    width: max-content;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
    background-color: #94D8FF;
    color: #262D5C;
    /* height: 60px; */
    border: none;
    cursor: pointer;
}

#backimg button p{
    font-size: 32px;
     font-family: 'Roboto slab';
     font-weight: bold;
     text-transform: uppercase;
}

#backimg button i{
    font-size: 35px;
}


@media screen and (max-width: 1000px) {
        
    #backimg h2{
        font-size: 60px;
    }

   

}


@media screen and (max-width: 750px) {
        
    #backimg h2{
        font-size: 45px;
    }


        
    #backimg button{
        gap: 20px;
    }
        
        
    #backimg button p{
        font-size: 25px;
    }

    #backimg button i{
        font-size: 25px;
    }

}


@media screen and (max-width: 500px) {
     #backimg h2{
        font-size: 30px;
    }

    #backimg button{
        gap: 10px;
    }
        
    #backimg button p{
        font-size: 20px;
    }

    #backimg button i{
        font-size: 20px;
    }


}