header{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-direction: column;   
}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 180px;   
}

.menu_items{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-family: 'Roboto';
}


.menu_items img{
    /* width: 42px;
    height: 42px; */
    width: 60px;
    height: 60px;
}

.menu_items li{
    text-decoration: none;
    margin: 20px;
}

.menu_items li a{
    text-decoration: none;
    font-weight: 700;
    /* font-size: 18px; */
    text-transform: uppercase;
    font-size: 28px;
    color: #464787;
}


.menu_items li a:hover{
    text-decoration: underline;
}

#imagemenu{
    margin-right: 80px;
}

.agenda{
    background: none;
    padding: 7px 10px;
    border-radius: 3px;
    border: 2px solid #464787;
    color: #464787;
    font-family: 'Roboto';  
    font-weight: 500;
    /* font-size: 15px; */
    font-size: 26px;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    text-transform: uppercase;
}

.agenda:hover{
    background-color: #464787;
    color: #fff;
}

.line_bg{
    width: 310px;
    /* height: 1200px; */
    height: 120vh;
    background: linear-gradient(270deg, #88D7FC, #489FC9);
    position: absolute;
    z-index: -99;
    top: -50px;
    left: 65%;
    transform: rotate(-10deg);
}


.content{
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0 200px;
}


.left_text{
    width: 50%;
    /* margin-top: 120px; */
    margin-top: 10%;
}

.left_text h1{
    font-family: 'lato';
    /* font-size: 64px; */
    font-size: 80px;
    color: #134571;
    font-weight: 800;
    line-height: 96px;
}

.left_text h2{
    font-family: 'lato';
    font-size: 48px;
    color: #566973; 
    font-weight: 800;
    line-height: 52px;
    margin-top: 40px;
}

.left_text button{
    margin-top: 40px;
    background: linear-gradient(135deg, #2D76B6, #40A6FF);
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Roboto slab';
    /* font-size: 20px; */
    font-size: 35px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #00000020;
    transition: 1s; 
    text-transform: uppercase;
}

.left_text button:hover{
    background: linear-gradient(135deg, #27679f, #3b92df);
}

.left_text button i{
    font-size: 18px;
    font-size: 33px;
}

.right_img{
    position: absolute;
    right: 180px;
    bottom: -10px;
    width: auto;
    /* height: 75vh; */
    height: 80vh;
    /* max-height: 700px; */
    align-self: flex-end;
    transition: 1s ease-in-out;
}


.right_img img{
    width: 100%;
    height: 100%;
}

#tooth{
    position: absolute;
    top: 50px;
    left: 200px;
    color: #AADEFF;
    font-size: 65px;
    transform: rotate(35deg);
    /* animation: spin 5s infinite; */
}

#smile{
    position: absolute;
    top: 220px;
    right: 200px;
    color: #AADEFF;
    font-size: 65px;
    transform: rotate(15deg);
    animation: spin 3s infinite ease-in;
}


@keyframes spin {
    50%{
        transform: rotate(50deg);
    }

    100%{
        transform: rotate(15deg);
    }
}

@keyframes floating {
    to{
        top: 50px;
    }
    from{
       top: 55px;
    }
}

@media screen and (max-width: 1980px) {      
    .right_img{
        right: 180px;
        bottom: -10px;
        width: auto;
        height: 70vh;
    }

        
    .left_text h1{
        font-size: 64px;
        line-height: 72px;
    }

    header nav{
        padding: 0 80px;   
    }

    .content{  
        padding: 0 100px;  
    }

        
    #tooth{
        top: 50px;
        left: 100px;
        font-size: 65px;
    }
     
    .menu_items li{
        margin: 15px;
    }

    .menu_items li a{
        font-size: 20px;
    }

    .agenda{
        padding: 7px 10px;
        font-weight: 500;
        font-size: 18px;
    }

}

@media screen and (max-width: 1500px) {
         
    .left_text h1{
        font-size: 50px;
        line-height: 64px;
    }

        
    .left_text h2{
        font-size: 44px; 
        line-height: 52px;
        margin-top: 20px;
    }

        
    .left_text{
        width: 50%;
        margin-top: 5%;
    }

        
    #tooth{
        top: 500px;
        color: #AADEFF;
        font-size: 65px;
        transform: rotate(35deg);
    }


}

@media screen and (max-width: 1300px) {    
        
    .menu_items li{
        margin: 10px;
    }

    .menu_items li a{
        font-size: 17px;
    }

    #imagemenu{
        margin-right: 25px;
    }

        
    .menu_items img{
        width: 42px;
        height: 42px;
    }

    header nav{
        padding: 0 80px;   
    }

    .content{  
        padding: 0 100px;  
    }

    .left_text{
        width: 60%;
    }
     
    .left_text h1{
        font-size: 52px;
        font-weight: 800;
        line-height: 64px;
    }

    .left_text h2{
        font-size: 36px;
        font-weight: 800;
        line-height: 44px;
        margin-top: 30px;
    }


    .right_img{
        height: 70vh;
        right: 100px;   
    }
        
    #tooth{
        font-size: 65px;
    }

    #smile{
        top: 220px;
        right: 100px;
        font-size: 65px;
    }

        
    .line_bg{
        width: 250px;
        left: 60%;
    }

    .left_text button{
        padding: 12px 25px;
        font-size: 25px;
    }
     .left_text button i{
        font-size: 25px;
    }
}


@media screen and (max-width: 1000px) {     
        
    header nav{
        padding: 0 30px;   
    }

    .content{  
        padding: 0 50px;  
    }

    .left_text h1{
        font-size: 50px;
        font-weight: 800;
        line-height: 54px;
    }

    .left_text h2{
        font-size: 34px;
        font-weight: 800;
        line-height: 38px;
        margin-top: 30px;
    }

    .menu_items li{
        text-decoration: none;
        margin: 12px;
    }

    .menu_items li a{
        font-size: 15px;
    }

        
    .right_img{
        right: 10px;
        bottom: 0;
        height: 60vh;
          
    }

    .line_bg{
        width: 250px;
        left: 62%;
    }
  
    #imagemenu{
        margin-right: 25px;
    }

    #tooth{
        font-size: 50px;
    }

    #smile{
        top: 160px;
        right: 60px;
        font-size: 50px;
    }

    .left_text button{
        margin-top: 40px;
        padding: 10px 30px;
        font-size: 20px;
    }

        
    .left_text button i{
        font-size: 18px;
    }
         
    .agenda{
        font-size: 15px;
    }

    .line_bg{
        width: 200px;
        left: 65%;
    }
}


@media screen and (max-width: 750px) {     

    .content{
        display: flex;
        flex-direction: column;
    
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }

    .left_text{
        margin: 50px 30px;
        width: 90%;
    }

    .left_text h1{
        font-size: 42px;
        font-weight: 800;
        line-height: 50px;
    }

    #tooth{
        top: 330px;
        left: 400px;
        font-size: 50px;
    }

    .right_img{
        position: relative;
        align-self: center;
        height: auto;
        width: 50vh;

    }


    #imagemenu{
        margin-right: 10px;
    }
    

    .menu_items img{
        width: 40px;
        height: 40px; 
    }

    .menu_items li{
        margin: 10px;
    }

    .menu_items li a{ 
        font-size: 13px;
    }
    
    .agenda{
        font-size: 10px;
        padding: 5px 8px;
        border: 1px solid #464787;
    }
        
    .line_bg{
        width: 200px;
        height: 1000px;
        top: 200px;
        left: 20%;
        transform: rotate(-95deg);
    }
}



@media screen and (max-width: 550px) { 
    header nav{
        padding: 0 20px;   
    }

    #imagemenu{
        margin-right: 10px;
    }

    .right_img{
        right: 10px;
        bottom: -10px;
        height: auto;
        width: 50vh;
    }

    .menu_items li{
        margin: 6px;
    }

    .menu_items li a{ 
        font-size: 12px;
    }
 
    .agenda{
        padding: 5px 8px;
        border-radius: 3px;
        font-size: 11px;
    }

        
    .menu_items img{
        width: 35px;
        height: 35px;
    }

    .left_text{
        margin-top: 30px;
    }

    .left_text h1{
        font-size: 36px;
        font-weight: 800;
        line-height: 40px;
    }

          
    .line_bg{
        width: 170px;
        top: 160px;
    }


        
    #tooth{
        top: 330px;
        left: 400px;
        font-size: 45px;
    }

    #smile{
        top: 220px;
        right: 160px;
        font-size: 45px;
    }
}


@media screen and (max-width: 450px) { 
    
    #imagemenu{
        margin-right: 0px;
    }


    header{
        width: 100%;
        min-height: 95vh;
        height: 95vh;
    }


    .left_text h1{
        font-size: 30px;
        line-height: 40px;
    }

    
    .left_text h2{
        font-size: 26px;
        line-height: 30px;
        margin-top: 20px;
    }

        
    .left_text button{
        width: 100%;
        margin-top: 30px;
        padding: 8px 35px;
        font-size: 20px;
    }

    #smile{
        top: 320px;
        right: 40px;
        font-size: 40px;
    }

    .content{
        padding-top: 30px;
    }

    #tooth{
        top: 350px;
        left: 20px;
        font-size: 40px;
    }

    .agenda{
        padding: 4px 7px;
        border-radius: 3px;
        font-size: 8px;
    }

   
     .menu_items img{
        width: 25px;
        height: 25px; 
    }

    .menu_items li a{ 
        font-size: 11px;
    }

    .line_bg{
        width: 120px;
        height: 1000px;
        top: 100px;
        background: linear-gradient(to left, #88D7FC, #489FC9);
    }

    .right_img{
        right: 10px;
        bottom: -10px;
        height: auto;
    }

     .content{
        padding-top: 0px;
    }

}


@media screen and (max-width: 390px) {

    .menu_items li a{ 
        font-size: 11px;
    }
    .content{
        padding-top: 0px;
    }
} 
