#vantagens{
    width: 100%;
    height: max-content;
    padding: 100px 200px;
}

.content-vantagens{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 100px;
}

.img-vantagens{
    position: relative;
    /* overflow: hidden; */
    border-radius: 10px;
    /* width: 50%; */
    width: 800px;
    height: auto;
}

.img-vantagens img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.img-vantagens img:hover{
    filter: brightness(.9);
}

.img-vantagens::after{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -9;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #8cd8dc, #2c6da7);
    border-radius: 10px;
}

.txt-vantagens{
    width: 60%;
    height: 500px;
    /* background-color: #8d4419; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#vantagens h1{
    font-family: 'Roboto Slab';
    font-size: 80px;
}

.txt-vantagens p{
    font-family: 'Roboto';
    font-size: 30px;
    line-height: 38px;
    margin-top: 20px;
    color: #566973; 
}

.gradient-text {
    background: linear-gradient(to right, #3386B3, #1691FC);
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Faz o fundo ser transparente */
    /* font-size: 48px; */
    font-weight: bold;
    font-family: 'Roboto Slab';
    font-size: 80px;
}

.txt-icons{
    /* background-color: #cbf2f476; */
    color: #394971;
   
    /* display: grid; */
    /* align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr); */
    /* font-size: 15px; */

    /* width: 60%; */
    display: flex;
    flex-direction: row;
    font-size: 30px;
    height: 65px;
    /* justify-content: space-around; */
    justify-content: start;
    padding: 0;
    /* background-color: #3ca83a; */
   
}

.txt-icons .iconn{
    background-color: #cbf2f476;
    /* padding: 15px 15px; */
    width: 50px;
    height: 50px;
    /* margin: auto; */
    margin: 0 30px;
    margin-left: 0;
    border-radius: 5px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
     border: 1px solid #394971;
}

.txt-icons .iconn.active{
    background-color: #394971;
    color: #fff;
}

.txt-icons i{
    cursor: pointer;
    font-size: 30px;
    /* margin-left: 2px; */
}

.icon-text{
    padding-bottom: 20px;
    font-size: 30px;
    color: #394971;
    font-weight: 700;
}

#photo{
    transition: opacity 1s ease-in-out; /* Transição suave para a opacidade */
    opacity: 1; /* Visível por padrão */
}


@media screen and (max-width: 1980px){
     #vantagens{
        padding: 100px 100px;
    }

    .content-vantagens{
        margin-top: 50px;
    }
        
    .txt-vantagens p{
        font-size: 26px;
        line-height: 38px;
        margin-top: 20px;
    }
} 


@media screen and (max-width: 1300px) { 
    #vantagens{
        padding: 60px 100px;
    }

        
    .content-vantagens{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-top: 100px;
        /* background-color: #1691FC; */
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .txt-icons{
        font-size: 12px;
    }
        
    .txt-vantagens p{      
        font-size: 24px;
        margin-top: 15px;
        line-height: 32px;
    }
        

    .content-vantagens{
        gap: 100px;
    }

        
    .img-vantagens{
        position: relative;
        /* overflow: hidden; */
        border-radius: 10px;
        /* width: 50%; */
        width: 600px;
        height: auto;
    }

        
    .txt-vantagens{
        width: 100%;
        height: max-content;
        /* background-color: #8d4419; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bottom-txt-vantagens{
        margin-top: 100px;
    }

        
    #vantagens h1{
        font-size: 60px;
    }


}


@media screen and (max-width: 1000px) { 

    .txt-vantagens h1{
        font-size: 60px;
    }

    #vantagens{
        padding: 60px 30px;
    }

    .content-vantagens{
        gap: 30px;    
    }

     .img-vantagens{
        overflow: hidden;
        border-radius: 10px;
        width: 100%;
    
        height: 200px;
        margin: auto;
    }
     .img-vantagens img{
        margin-top: -100px;
        height: auto;
    }
}


@media screen and (max-width: 750px) {

        
        
    #vantagens h1{
        font-size: 60px;
    }

    #vantagens{
        padding: 60px 30px;
        height: max-content;
    }
        
    .content-vantagens{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

        
    .img-vantagens{
        overflow: hidden;
        border-radius: 10px;
        width: 100%;
    
        height: 200px;
        margin: auto;
    }

    .img-vantagens img{
        margin-top: -50px;
        height: auto;
    }

    .txt-vantagens{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

 }


 
@media screen and (max-width: 550px) { 

    .content-vantagens{
        gap: 100px;
        margin-top: 20px;
    }

            
    .txt-icons{
        margin-top: 10px;
        font-size: 13px;
    }

         
    .content-vantagens{
        gap: 30px;
    }

        
    .txt-icons i{
        font-size: 14px;
        margin-left: 2px;
    }

     
        
    #vantagens h1{
        font-size: 45px;
    }

}


 
@media screen and (max-width: 450px) { 

    
    .txt-vantagens h1{
        font-size: 35px;
    }

    .txt-vantagens p{
        font-size: 14px;
        line-height: 18px;
    }

    .img-vantagens img{
        margin-top: -10px;
        height: auto;
    }
        
    .txt-icons{
        grid-template-columns: repeat(2, 1fr);
        height: 100px;
        justify-content: space-evenly;
       
    }

}
